@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 254 253 255;
    --foreground: 16 0 35;
    --card: 253 250 255;
    --card-foreground: 60 0 119;
    --popover: 251 251 254;
    --popover-foreground: 34 0 74;
    --primary: 5 133 200;
    --primary-foreground: 250 240 255;
    --primary-accent: 58 173 73;
    --secondary: 237 238 243;
    --secondary-foreground: 77 81 104;
    --secondary-accent: 225 227 238;
    --muted: 204 208 222;
    --muted-foreground: 77 81 104;
    --accent: 154 87 162;
    --accent-foreground: 249 242 255;
    --success: 58 173 73;
    --success-foreground: 221 242 225;
    --warning: 240 149 32;
    --warning-foreground: 255 253 238;
    --destructive: 212 39 45;
    --destructive-foreground: 255 246 250;
    --border: 241 224 253;
    --input: 238 239 249;
    --ring: 1rem;
    /* Brand colors */
    --brand-green: 58 173 73;
    --brand-purple: 154 87 162;
    --brand-red: 212 39 45;
    --brand-orange: 240 149 32;
    --brand-blue: 5 133 200;
  }
  .dark {
    --background: 33 30 32;
    --foreground: 251 243 255;
    --card: 40 37 39;
    --card-foreground: 251 243 255;
    --popover: 40 37 39;
    --popover-foreground: 251 251 254;
    --primary: 5 133 200;
    --primary-foreground: 250 240 255;
    --primary-accent: 58 173 73;
    --secondary: 50 47 49;
    --secondary-foreground: 204 208 222;
    --secondary-accent: 60 57 59;
    --muted: 60 57 59;
    --muted-foreground: 180 180 185;
    --accent: 154 87 162;
    --accent-foreground: 249 242 255;
    --success: 58 173 73;
    --success-foreground: 221 242 225;
    --warning: 240 149 32;
    --warning-foreground: 255 253 238;
    --destructive: 212 39 45;
    --destructive-foreground: 255 246 250;
    --border: 60 57 59;
    --input: 60 57 59;
    /* Brand colors */
    --brand-green: 58 173 73;
    --brand-purple: 154 87 162;
    --brand-red: 212 39 45;
    --brand-orange: 240 149 32;
    --brand-blue: 5 133 200;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(var(--background));
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(var(--muted));
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--muted-foreground));
  }
}

@layer components {
  .link {
    @apply rounded-sm decoration-blue-500 decoration-2 hover:underline focus:outline-none focus-visible:ring-2 focus-visible:ring-violet-500;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
